API_URL=https://eventeir-backend.ambitiouscliff-a806dce8.eastus.azurecontainerapps.io/api/v1/events/create/v2
ACCESS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InNoYWhiaXNod2EyMUBnbWFpbC5jb20iLCJmdWxsTmFtZSI6ImJpc2h3YSBzaGFoIiwiZ2VuZGVyIjpudWxsLCJpZCI6Miwicm9sZSI6Ik9SR0FOSVpFUiIsImlhdCI6MTc2NDI1MjAyNCwiZXhwIjoxNzY0MjY2NDI0fQ.2GqKhxTjNqarJ3mB_cXkBsznMxB5Ly_1gkLaIHboosY
AUTO_UPLOAD=false